@media screen and (min-width: 320px) {
    .expItem_btn_btn{
        width:15%;
        
    }
    .expItem_btn_span{
       
        visibility: hidden;
       
    }
  }


@media screen and (min-width: 700px) {
    .expItem_btn_btn{
        width:20%;
        
    }
    .expItem_btn_span{
        
        visibility: visible;
       
    }
}



